/* Add any custom styles here */

.carousel img {
  width: 100%;
  height: auto;
}

button {
  margin-top: 20px;
}

iframe {
  margin-top: 20px;
}
/* ProductDetail.css */

/* Custom styles for carousel navigation buttons */
.custom-carousel-button {
  font-size: 24px; /* Adjust the font size as needed */
  color: #000; /* Set the color of the buttons */
  background-color: transparent; /* Set the background color as transparent */
  border: none; /* Remove border */
  outline: none; /* Remove outline */
  cursor: pointer; /* Set cursor to pointer */
}

/* Custom styles for carousel dots */
.custom-dots {
  margin-top: 10px; /* Add margin to separate dots from buttons */
  text-align: center; /* Center-align the dots */
}

.custom-dots .slick-dots li {
  display: inline-block; /* Display dots in a row */
  margin: 0 5px; /* Add space between dots */
}

.custom-dots .slick-dots li button {
  width: 10px; /* Set the width of individual dots */
  height: 10px; /* Set the height of individual dots */
  border-radius: 50%; /* Make dots circular */
  background-color: #000; /* Set the background color of dots */
  border: none; /* Remove border */
  outline: none; /* Remove outline */
  cursor: pointer; /* Set cursor to pointer */
  transition: background-color 0.3s ease; /* Add transition for smoother hover effect */
}

.custom-dots .slick-dots li.slick-active button {
  background-color: #333; /* Change color of active dot */
}
